@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.allFields {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border: 1px solid #4f5259;
}

.field {
  background: #fff;
  border: 1px solid #62656b;
  font-size: 32px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  padding: 0;
  text-align: center;
  width: 64px;
  font-family: 'Open Sans', sans-serif;
}

.xField {
  color: red;
}

.button {
  margin: 20px;
  visibility: visible;
}

.buttonHidden {
  margin: 20px;
  visibility: hidden;
}